body {
    background-color: rgb(4, 66, 4);
	background-image: url('../img/background.jpg');
	font-size:16px;
	color: honeydew;
	font-family: sans-serif;
}
 
.content{
	width: 80%;
	margin: 10px auto;
}
 
/*header*/
header{
	background-color:  rgba(164, 243, 187, 0.336);
	padding: 20px 10px;
	border-radius: 5px;
	color: honeydew;
	margin-bottom: 10px;
}
 
header h1.judul,
header h3.deskripsi{
	text-align: center;	
}
 
/*menu navigasi*/
.menu{
	background-color:  rgba(164, 243, 187, 0.336);
	border: 1px solid rgba(164, 243, 187, 0.336);
	border-radius: 8px;	
	margin-bottom: 10px;
	
}
 
div.menu ul {
	list-style:none;
	overflow: hidden;
}
 
 
div.menu ul li {
	float:left;		
	text-transform:uppercase;
}
 
div.menu ul li a {
	display:block;	
	padding:0 20px;
	text-decoration:none;
	color: #fff;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
}
 
div.menu ul li a:hover,
div.menu ul li a.hoverover {	
	cursor: pointer;	
	color:rgba(99, 241, 139, 0.89);
}
 
 
div.badan{
	background-color:  rgba(164, 243, 187, 0.336);
	border-radius: 5px;
	border: 1px solid rgba(164, 243, 187, 0.336);
	margin-bottom: 10px;
}
 
div.halaman{
	text-align: center;
	padding: 30px 20px;	
}

#isi{
	background-color:  rgba(164, 243, 187, 0.336);
	border-radius: 5px;
	margin-bottom: 100px;
	margin-left: 400px;
	margin-right: 400px;
	padding-bottom: 100px;
	color: #fff;

}
#isi h2{
	color: #fff;
}
